{% import "_includes/forms" as forms %}

<div class="advanced_date-field" id="{{ name }}"></div>
<div class="field all-day">
	<div class="heading">
		<label for="{{ name }}-allday">All Day</label>
		<div class="instructions">
			<p>Does this event last all day?</p>
		</div>
	</div>
	{{ forms.lightswitch({
		id: name~'allday',
		name: name~'[allday]',
	}) }}
</div>
<div class="field starttime">
	<div class="heading">
		<label for="{{ name }}-starttime">Start Time</label>
	</div>
	{{ forms.date({
		name: name~'[startdate]',
		id: name~'startdate'
	}) }}
	{{ forms.time({
		name: name~'[starttime]',
		id: name~'starttime'
	}) }}
</div>
<div class="field endtime">
	<div class="heading">
		<label for="{{ name }}-endtime">End Time</label>
	</div>
	{{ forms.date({
		name: name~'[enddate]',
		id: name~'enddate'
	}) }}
	{{ forms.time({
		name: name~'[endtime]',
		id: name~'endtime'
	}) }}
</div>
<div class="field repeats">
	<div class="heading">
		<label for="{{ name }}-repeats">Repeats</label>
		<div class="instructions">
			<p>Does this event occur multiple times?</p>
		</div>
	</div>
	{{ forms.lightswitch({
		name: name~'[repeats]',
	}) }}
</div>
<div class="field interval">
	<div class="heading">
		<label for="{{ name }}-interval">Interval</label>
	</div>
	{{ forms.select({
		name: name~'[interval]',
		value: 'daily',
		options: {
			'daily': 'Daily',
			'weekly': 'Weekly',
			'monthly': 'Monthly',
			'yearly': 'Yearly'
		}
	}) }}
</div>
<div class="field every">
	<div class="heading">
		<label for="{{ name }}-every">Repeat Every</label>
	</div>
	{{ forms.select({
		name: name~'[every]',
		options: {
			1: 1,
			2: 2,
			3: 3,
			4: 4,
			5: 5,
			6: 6,
			7: 7,
			8: 8,
			9: 9,
			10: 10,
			11: 11,
			12: 12,
			13: 13,
			14: 14,
			15: 15,
			16: 16,
			17: 17,
			18: 18,
			19: 19,
			20: 20,
			21: 21,
			22: 22,
			23: 23,
			24: 24,
			25: 25,
			26: 26,
			27: 27,
			28: 28,
			29: 29,
			30: 30,
			31: 31,
		}
	}) }}
	days
</div>
<div class="field on">
	<div class="heading">
		<label for="{{ name }}-on">Repeat On</label>
	</div>
	{{ forms.checkboxGroup({
		name: name~'[on]',
		options: {
			'SU' : 'S',
			'MO' : 'M',
			'TU' : 'T',
			'WE' : 'W',
			'TH' : 'T',
			'FR' : 'F',
			'SA' : 'S',
		}
	}) }}
</div>
<div class="field by">
	<div class="heading">
		<label for="{{ name }}-by">Repeat By</label>
	</div>
	{{ forms.radioGroup({
		name: name~'[by]',
		value: 'month',
		options: {
			'month' : 'Day of Month',
			'week' : 'Day of Week',
		}
	}) }}
</div>
<div class="field repeatstart">
	<div class="heading">
		<label for="{{ name }}-repeatstart">Start Date</label>
	</div>
	{{ forms.date({
		name: name~'[repeatstart]',
		id: name~'[ends]'
	}) }}
</div>
<div class="field ends">
	<div class="heading">
		<label for="{{ name }}-ends">Ends</label>
	</div>
	{{ forms.radioGroup({
		name: name~'[ends]',
		value: 'never',
		options: {
			'never' : 'Never',
			'after' : 'After '~ forms.text({ name: name~'[occurrences]', size: '20px', maxlength: '5' }) ~' Occurences',
			'until' : 'Date '~ forms.date({name: name~'[untildate]', id: name~'untildate'})
		}
	}) }}
</div>